@import 'styles/variables';
@import 'styles/mixins';

.partners__wrapper {
  background: linear-gradient(
    180deg,
    rgb(17 12 29) 90%,
    rgba(16, 12, 26, 1) 100%
  );
  padding-bottom: 11.25rem /* 180px -> 11.25rem */;
  position: relative;

  @include mobile-breakpoint {
    padding: 0;
  }

  .partners {
    padding-top: 8rem /* 128px -> 8rem */;
    background: url(/images/landing/partners/partnerbg.png) 0 60px,
      linear-gradient(180deg, #0a0812 50%, #110C1D 90%);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position-y: 1.5625rem;

    margin: auto;
    text-align: center;
    @include mobile-breakpoint {
      background: $home-background;
      padding-top: 4.75rem /* 76px -> 4.75rem */;
    }
    .partners__text {
      color: white;
      margin-bottom: 2.8125rem /* 45px -> 2.8125rem */;
      @include mobile-breakpoint {
        margin-bottom: 2.125rem /* 34px -> 2.125rem */;
      }
      p {
        font-family: $primary-font-regular;
        font-size: 1.375rem /* 22px -> 1.375rem */;
        line-height: 2.0625rem /* 33px -> 2.0625rem */;
        @include mobile-breakpoint {
          font-size: 1.125rem /* 18px -> 1.125rem */;
          line-height: 1.6875rem /* 27px -> 1.6875rem */;
        }
      }
      h2 {
        font-weight: 500;
        font-size: 3.375rem /* 54px -> 3.375rem */;
        line-height: 4.1875rem /* 67px -> 4.1875rem */;
        font-family: $secondary-font;
        @include mobile-breakpoint {
          font-size: 1.875rem /* 30px -> 1.875rem */;
          line-height: 2.3125rem /* 37px -> 2.3125rem */;
        }
        span {
          color: $neon-green;
        }
      }
    }

    .partners__partners {
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem /* 40px -> 2.5rem */;
      max-width: 94.5625rem /* 1513px -> 94.5625rem */;
      margin: auto;
      margin-bottom: 2.375rem /* 38px -> 2.375rem */;
      @include mobile-breakpoint {
        flex-direction: column;
        align-items: center;
        gap: 1.875rem /* 30px -> 1.875rem */;
        margin-bottom: 1.4375rem /* 23px -> 1.4375rem */;
      }
    }
    .partners__showmore {
      @include hollow-button;
      width: 15.5625rem /* 249px -> 15.5625rem */;
      height: 4.375rem /* 70px -> 4.375rem */;
      border-radius: 1.25rem /* 20px -> 1.25rem */;
      margin: auto;
      font-size: 1.25rem /* 20px -> 1.25rem */;
      @include mobile-breakpoint {
        width: 7.6875rem /* 123px -> 7.6875rem */;
        height: 2.5625rem /* 41px -> 2.5625rem */;
        border-radius: 0.625rem /* 10px -> .625rem */;
        padding: 10px 1.25rem /* 20px -> 1.25rem */;
        font-size: 0.875rem /* 14px -> .875rem */;
        line-height: 1.3125rem /* 21px -> 1.3125rem */;
      }
    }
  }
  .subscribe {
    width: fit-content;
    margin: auto;
    margin-top: 4.875rem /* 78px -> 4.875rem */;
    display: flex;
    align-items: center;
    gap: 8.375rem /* 134px -> 8.375rem */;
    @include mobile-breakpoint {
      display: none;
    }

    .subscribe__heading_text {
      display: flex;
      align-items: center;
      gap: 18rem /* 288px -> 18rem */;
      margin-bottom: 1.4375rem /* 23px -> 1.4375rem */;
      h3 {
        font-size: 2.5rem /* 40px -> 2.5rem */;
        line-height: 3.75rem /* 60px -> 3.75rem */;
        color: white;
        font-family: 'Poppins-Regular';
        font-weight: 400;
      }
      span {
        font-size: 1.125rem /* 18px -> 1.125rem */;
        line-height: 1.6875rem /* 27px -> 1.6875rem */;
        color: $light-grey;
      }
    }
    .subscribe__input_wrapper {
      display: flex;
      box-sizing: border-box;
      gap: 2.125rem /* 34px -> 2.125rem */;
      position: relative;

      input::placeholder {
        color: white;
      }

      &::after {
        content: "Promise, we don't spam!";
        color: $light-grey;
        position: absolute;
        bottom: -2.1875rem /* -35px -> -2.1875rem */;
        left: 0.625rem /* 10px -> .625rem */;
        font-size: 1.125rem /* 18px -> 1.125rem */;
        line-height: 1.6875rem /* 27px -> 1.6875rem */;
        font-style: italic;
      }
      input {
        width: 35.125rem /* 562px -> 35.125rem */;
        height: 4.375rem /* 70px -> 4.375rem */;
        @include homepage-base-input;
      }
      button {
        @include filled-button;
        width: 14.3125rem /* 229px -> 14.3125rem */;
        height: 4.375rem /* 70px -> 4.375rem */;
        border-radius: 1.25rem /* 20px -> 1.25rem */;
        font-size: 1.25rem /* 20px -> 1.25rem */;
        line-height: 1.875rem /* 30px -> 1.875rem */;
        font-family: $primary-font-semibold;
      }
    }

    aside {
      font-weight: 400;
      h4 {
        font-size: 1.875rem /* 30px -> 1.875rem */;
        line-height: 2.8125rem /* 45px -> 2.8125rem */;
        color: white;
        margin-bottom: 1.5625rem /* 25px -> 1.5625rem */;
        font-weight: 400;
      }
      p {
        color: $light-grey;
        font-size: 0.75rem /* 12px -> .75rem */;
        line-height: 1.125rem /* 18px -> 1.125rem */;
        max-width: 36.8125rem /* 589px -> 36.8125rem */;
      }
    }
  }

  // create the highlights
  &::before {
    width: 23.25rem /* 372px -> 23.25rem */;
    height: 23.25rem /* 372px -> 23.25rem */;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(6.25rem /* 100px -> 6.25rem */);
    content: '';
    top: 3.9375rem /* 63px -> 3.9375rem */;
    left: 5.125rem /* 30px -> 1.875rem */;
    border-radius: 50%;
    @include mobile-breakpoint {
      width: 13.5rem;
      height: 13.5rem;
      opacity: 0.3;
      left: -4.5rem;
    }
  }
  &::after {
    width: 18.25rem /* 292px -> 18.25rem */;
    height: 18.25rem /* 292px -> 18.25rem */;
    left: 97.6875rem /* 1563px -> 97.6875rem */;
    top: 103.5625rem /* 1657px -> 103.5625rem */;
    background: #ffffff;
    opacity: 0.15;
    filter: blur(6.25rem /* 100px -> 6.25rem */);
    content: '';
    position: absolute;
    left: 99.6rem /* 1593.6px -> 99.6rem */ /* 83vw -> 1593.6px */;
    border-radius: 50%;
    top: 15.8125rem /* 253px -> 15.8125rem */;
    @include mobile-breakpoint {
      display: none;
    }
  }
  // create the highlights
}
