@import '/styles/variables';
@import '/styles/mixins';

.community__wrapper {
  padding-top: 5.625rem /* 90px -> 5.625rem */;
  position: relative;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-image: url('/images/landing/community/leftimage.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 41.25rem /*  -> 41.25rem */;
    height: 27.3125rem /* 437px -> 27.3125rem */;
    background-size: contain;

    @include mobile-breakpoint {
      width: 11.875rem /* 190px -> 11.875rem */;
      height: 7.8625rem /* 125.8px -> 7.8625rem */;
      background-image: url('/images/landing/community/leftimagemobile.svg');
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 33.125rem /* 530px -> 33.125rem */;
    height: 27.3125rem /* 437px -> 27.3125rem */;
    background-image: url('/images/landing/community/rightimage.png');
    top: 0;
    right: 0;
    background-size: contain;

    @include mobile-breakpoint {
      width: 5.0625rem /* 81px -> 5.0625rem */;
      height: 7.8625rem /* 125.8px -> 7.8625rem */;
      background-image: url('/images/landing/community/rightimagemobile.svg');
    }
  }

  .community {
    width: fit-content;
    margin: auto;
    position: relative;

    &::before {
      background: #ffffff;
      opacity: 0.2;
      filter: blur(6.25rem /* 100px -> 6.25rem */);
      width: 18.5rem /* 296px -> 18.5rem */;
      height: 18.5rem /* 296px -> 18.5rem */;
      border-radius: 50%;
      content: '';
      position: absolute;
      left: -9.375rem /* -150px -> -9.375rem */;
      top: 3.125rem /* 50px -> 3.125rem */;
      @include mobile-breakpoint {
        display: none;
      }
    }
    &::after {
      background: #ffffff;
      opacity: 0.2;
      filter: blur(6.25rem /* 100px -> 6.25rem */);
      width: 18.5rem /* 296px -> 18.5rem */;
      height: 18.5rem /* 296px -> 18.5rem */;
      content: '';
      position: absolute;
      right: -15.625rem /* -250px -> -15.625rem */;
      top: 5rem /* 80px -> 5rem */;
      @include mobile-breakpoint {
        display: none;
      }
    }

    p {
      color: $neon-green;
      font-family: $primary-font-regular;
      text-align: center;
      font-size: 1.375rem /* 22px -> 1.375rem */;
      line-height: 2.0625rem /* 33px -> 2.0625rem */;
      margin-bottom: 1.5625rem /* 25px -> 1.5625rem */;
      @include mobile-breakpoint {
        font-size: 1.25rem /* 20px -> 1.25rem */;
        line-height: 1.875rem /* 30px -> 1.875rem */;
        margin-bottom: 1.125rem /* 18px -> 1.125rem */;
      }
    }

    h3 {
      font-weight: 500;
      font-family: 'Cabinet Grotesk';
      font-style: normal;
      color: white;
      text-align: center;
      max-width: 44.125rem /* 706px -> 44.125rem */;
      font-size: 3.375rem /* 54px -> 3.375rem */;
      line-height: 4.1875rem /* 67px -> 4.1875rem */;
      margin-bottom: 1.9375rem /* 31px -> 1.9375rem */;
      @include mobile-breakpoint {
        max-width: 16.375rem /* 262px -> 16.375rem */;
        font-size: 1.4375rem /* 23px -> 1.4375rem */;
        line-height: 1.8125rem /* 29px -> 1.8125rem */;
        margin: auto;
        margin-bottom: 1.6875rem /* 27px -> 1.6875rem */;
      }
    }

    h5 {
      margin: auto;
      color: #898989;
      text-align: center;
      font-weight: 400;
      font-size: 1.375rem /* 22px -> 1.375rem */;
      line-height: 2.0625rem /* 33px -> 2.0625rem */;
      max-width: 29.625rem /* 474px -> 29.625rem */;
      margin-bottom: 3.5rem /* 56px -> 3.5rem */;
      @include mobile-breakpoint {
        font-size: 1rem /* 16px -> 1rem */;
        line-height: 1.5rem /* 24px -> 1.5rem */;
        margin-bottom: 2.1875rem /* 35px -> 2.1875rem */;
        max-width: 18.0625rem /* 289px -> 18.0625rem */;
      }
    }

    .button_group {
      display: flex;
      width: fit-content;
      margin: auto;
      gap: 2.5rem /* 40px -> 2.5rem */;
      @include mobile-breakpoint {
        gap: 1.875rem /* 30px -> 1.875rem */;
      }
      & > div {
        width: 13.5rem /* 216px -> 13.5rem */;
        height: 6rem /* 96px -> 6rem */;
        border-radius: 1.25rem /* 20px -> 1.25rem */;
        @include hollow-button;
        @include mobile-breakpoint {
          width: 4.625rem /* 74px -> 4.625rem */;
          height: 4.625rem /* 74px -> 4.625rem */;
          border-radius: 1.25rem /* 20px -> 1.25rem */;
        }
        box-sizing: border-box;
        .social__image {
          width: 3.5rem /* 56px -> 3.5rem */;
          height: 3.5rem /* 56px -> 3.5rem */;
          @include mobile-breakpoint {
            width: 2.125rem /* 34px -> 2.125rem */;
            height: 2.125rem /* 34px -> 2.125rem */;
          }
        }
      }
    }
  }
}
