@import '/styles/variables';
@import '/styles/mixins';

.category__wrapper {
    color: #FFF;

    .category {
      max-width: 85rem;
      margin: 3.375rem auto;
      display: flex;
      justify-content: space-between;

      .category__select {
        padding: 0.625rem 2.5rem;
        background-color: #1E1C30;
        border-radius: 0.625rem;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 2.063rem;
        color: #D4FF1E;
      }

      .category__text {
        align-self: center;
        padding: 0.625rem 0rem;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 2.063rem;
      }
    }
}