@import 'styles/variables';
@import 'styles/mixins';

@mixin highlight {
  content: '';
  filter: blur(100px);
  position: absolute;
  width: 11rem;
  height: 11rem;
  background: white;
  opacity: 0.5;
  transform: rotate(180deg);
  z-index: 2;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.footer__wrapper {
    margin: 6.063rem auto;

    @include mobile-breakpoint {
        margin: 4.375rem 0;
    }

    &::before {
        @include highlight;
        margin-top: 6rem;
        @include mobile-breakpoint() {
            margin-top: 0;
        }
    }
    .footer {
        text-align: center;


        .footer__sec1 {
            display: flex;
            justify-content: center;
            margin: 1.125rem 0;

            div {
                position: relative;
            }

            .footer__img1 {
                margin: 0 2.188rem;
                align-self: center;
                width: 4.75rem;
                height: 4.75rem;
                object-fit: contain;

                @include mobile-breakpoint {
                    width: 3.234rem;
                    height: 3.234rem;
                }
            }

            .footer__img2 {
                width: 9.625rem;
                height: 9.625rem;
                object-fit: contain;

                @include mobile-breakpoint {
                    width: 6.553rem;
                    height: 6.553rem;
                }
            }

            .footer__img3 {
                margin: 0 1.188rem;
                width: 5.75rem;
                height: 5.75rem;
                object-fit: contain;

                @include mobile-breakpoint {
                    width: 3.915rem;
                    height: 3.915rem;
                }
            }
        }

        .footer__sec2 {
            margin: 1.5rem 0;
            font-weight: 400;
            font-size: 1.375rem;
            line-height: 2.063rem;
            color: #FFFFFF;

            @include mobile-breakpoint {
                margin: auto;
                width: 16.375rem;
                font-size: 0.75rem;
                line-height: 1.125rem;
            }
        }
    }
}