@import 'styles/variables';
@import 'styles/mixins';



.navbar__wrapper {
  @include mobile-breakpoint {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark-grey;
    box-sizing: border-box;
    padding: 0 6rem /* 96px -> 6rem */;
    z-index: 3;
    position: relative;
    font-family: $primary-font-regular;

    width: 100%;
    height: 6.9376rem /* 111.001px -> 6.9376rem */;
    @include mobile-breakpoint() {
      height: 68px;
      padding: 0 20px;
    }

    // the first section containing the logo
    & > section:first-of-type {
      display: inline-block;
      position: relative;
      width: 17.5625rem /* 280.9997px -> 17.5625rem */;
      height: 3.75rem /* 60px -> 3.75rem */;
      @include mobile-breakpoint() {
        width: 126.41px;
        height: 27px;
      }
      cursor: pointer;
    }

    .navbar__items {
      display: flex;
      color: $white;
      // hide on large screen
      @include mobile-breakpoint() {
        display: none;
      }

      span {
        cursor: pointer;
        font-size: 1.25rem /* 20.0006px -> 1.25rem */;
        display: flex;
        align-items: center;
        &#bounties {
          gap: 1.0313rem /* 16.5px -> 1.0313rem */;
          position: relative;

          // .open_menu{
          //   position: absolute;
          // }
        }
        &#leaderboard {
          margin-left: 3.5rem /* 56.0006px -> 3.5rem */;
        }
        &#notifications {
          margin-left: 2.7031rem /* 43.2499px -> 2.7031rem */;
          margin-right: 2.59rem /* 41.4394px -> 2.59rem */;
        }
      }

      button {
        @include filled-button;
        padding: 0.625rem /* 9.9994px -> .625rem */ 1.25rem
          /* 20.0006px -> 1.25rem */;
        border-radius: 0.625rem /* 9.9994px -> .625rem */;
        font-size: 1.25rem /* 20.0006px -> 1.25rem */;
        cursor: pointer;
        position: relative;
      }
    }
  }
}
