@import "styles/variables.scss";

@mixin homepage-base-input {
  background: #1e1c30;
  border-radius: 20px;
  padding: 20px 40px;
  border: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
  font-family: $primary-font;
  outline: none;
  box-sizing: border-box;

  &:active{
    outline: none;
  }
}
