@import 'styles/variables';
@import 'styles/mixins';

.bounty__wrapper {
  width: 21.0625rem /* 337.0003px -> 21.0625rem */;
  height: 12.5rem /* 200.0006px -> 12.5rem */;
  padding: 1.4375rem /* 22.9997px -> 1.4375rem */ 1.9375rem /* 31.0003px -> 1.9375rem */ 1.25rem /* 20.0006px -> 1.25rem */ 2.1875rem /* 34.9997px -> 2.1875rem */;
  box-sizing: border-box;
  position: relative;

  background: #1e1c30;
  border-radius: 1.25rem /* 20.0006px -> 1.25rem */;
  cursor: pointer;

  @include mobile-breakpoint {
    width: 23rem /* 320px -> 20rem */;
    height: 12.5rem /* 200px -> 12.5rem */;
    border-radius: 1.25rem /* 20px -> 1.25rem */;
    padding: 1.4375rem /* 23px -> 1.4375rem */ 1.375rem /* 22px -> 1.375rem */ 1.375rem /* 22px -> 1.375rem */ 1.6875rem /* 27px -> 1.6875rem */;
  }

  & > span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem /* 16px -> 1rem */ ;
    line-height: 1.375rem /* 22px -> 1.375rem */;
    width: 7.3125rem /* 117px -> 7.3125rem */;
    height: 2rem /* 32px -> 2rem */;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neon-green;
    background: #363643;
    border-radius: 1.25rem /* 20px -> 1.25rem */;
    position: absolute;
    top: -1.25rem /* -20px -> -1.25rem */;
    right: .625rem /* 10px -> .625rem */;

    @include mobile-breakpoint {
      width: 7.125rem /* 114px -> 7.125rem */;
      padding: .3125rem /* 5px -> .3125rem */;
      height: 2rem /* 32px -> 2rem */;
      font-size: 1rem /* 16px -> 1rem */;
      line-height: 1.375rem /* 22px -> 1.375rem */;
      font-weight: 400;
      font-size: 1rem /* 16px -> 1rem */;
      border-radius: 1.25rem /* 20px -> 1.25rem */;
      right: 1.0625rem /* 17px -> 1.0625rem */;
      top: -1rem /* -16px -> -1rem */;
    }
  }

  .bounty__chain {
    width: 4.875rem /* 78px -> 4.875rem */;
    height: 1.0625rem /* 17px -> 1.0625rem */;
    margin-bottom: .875rem /* 14px -> .875rem */;

    @include mobile-breakpoint {
      width: 4.875rem /* 78px -> 4.875rem */;
      height: 1.0625rem /* 17px -> 1.0625rem */;
      margin-bottom: .875rem /* 14px -> .875rem */;
    }
  }

  .bounty__text {
    h4 {
      height: 1.8125rem /* 29px -> 1.8125rem */;
      font-weight: 500;
      font-size: 1.125rem /* 18px -> 1.125rem */;
      line-height: 1.6875rem /* 27px -> 1.6875rem */;
      color: white;
      margin-bottom: .375rem /* 6px -> .375rem */;
      @include truncate-lines(1);

      @include mobile-breakpoint {
        font-weight: 500;
        font-size: 1.125rem /* 18px -> 1.125rem */;
        line-height: 1.6875rem /* 27px -> 1.6875rem */;
        margin-bottom: .375rem /* 6px -> .375rem */;
        height: 1.8125rem /* 29px -> 1.8125rem */;
      }
    }
    p {
      height: 2.8125rem /* 45px -> 2.8125rem */;
      max-width: 15.625rem /* 250px -> 15.625rem */;
      font-weight: 400;
      font-size: .875rem /* 14px -> .875rem */;
      line-height: 1.375rem /* 22px -> 1.375rem */;
      color: $light-grey;
      margin-bottom: 1.625rem /* 26px -> 1.625rem */;
      @include truncate-lines(2);

      @include mobile-breakpoint {
        font-size: .875rem /* 14px -> .875rem */;
        line-height: 1.375rem /* 22px -> 1.375rem */;
        height: 2.8125rem /* 45px -> 2.8125rem */;
        max-width: 15.8125rem /* 253px -> 15.8125rem */;
        margin-bottom: 1.625rem /* 26px -> 1.625rem */;
      }
    }
  }

  .bounty__meta {
    display: flex;
    justify-content: space-between;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: .75rem /* 12px -> .75rem */;
      line-height: 1.125rem /* 18px -> 1.125rem */;
      color: white;

      @include mobile-breakpoint {
        font-weight: 500;
        font-size: .75rem /* 12px -> .75rem */;
        line-height: 1.125rem /* 18px -> 1.125rem */;
      }
    }

    .bounty__meta__avatar {
      width: 1.375rem /* 22px -> 1.375rem */;
      height: 1.375rem /* 22px -> 1.375rem */;
      overflow: hidden;
      border-radius: 50%;
      background-color: $light-grey;
      @include mobile-breakpoint {
        width: 1.375rem /* 22px -> 1.375rem */;
        height: 1.375rem /* 22px -> 1.375rem */;
      }
    }
  }
}
