@import 'styles/variables';
@import 'styles/mixins';

.bounty__wrapper {
  width: 17.5521vw /* 337px -> 17.5521vw */;
  height: 10.4167vw /* 200px -> 10.4167vw */;
  padding: 1.1979vw 1.6146vw 1.0417vw 1.8229vw;
  box-sizing: border-box;
  position: relative;

  background: #1e1c30;
  border-radius: 1.0417vw /* 20px -> 1.0417vw */;
  cursor: pointer;

  @include mobile-breakpoint {
    width: 320px;
    height: 200px;
    border-radius: 20px;
    padding: 23px 22px 22px 27px;
  }

  & > span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8333vw /* 16px -> .8333vw */;
    line-height: 1.1458vw /* 22px -> 1.1458vw */;
    width: 6.0938vw /* 117px -> 6.0938vw */;
    height: 1.6667vw /* 32px -> 1.6667vw */;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neon-green;
    background: #363643;
    border-radius: 1.0417vw /* 20px -> 1.0417vw */;
    position: absolute;
    top: -1.0417vw /* -20px -> -1.0417vw */;
    right: 0.5208vw /* 10px -> .5208vw */;
    @include mobile-breakpoint {
      width: 114px;
      padding: 5px;
      height: 32px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      font-size: 16px;
      border-radius: 20px;
      right: 17px;
      top: -16px;
    }
  }

  .bounty__chain {
    width: 4.0625vw /* 78px -> 4.0625vw */;
    height: 0.8854vw /* 17px -> .8854vw */;
    opacity: 0.5;
    margin-bottom: 0.7292vw /* 14px -> .7292vw */;

    @include mobile-breakpoint {
      width: 78px;
      height: 17px;
      margin-bottom: 14px;
    }
  }

  .bounty__text {
    h4 {
      height: 1.5104vw /* 29px -> 1.5104vw */;
      font-weight: 500;
      font-size: 0.9375vw /* 18px -> .9375vw */;
      line-height: 1.4063vw /* 27px -> 1.4063vw */;
      color: white;
      margin-bottom: 0.3125vw /* 6px -> .3125vw */;
      @include truncate-lines(1);

      @include mobile-breakpoint {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 6px;
        height: 29px;
      }
    }
    p {
      height: 2.3438vw /* 45px -> 2.3438vw */;
      max-width: 13.0208vw /* 250px -> 13.0208vw */;
      font-weight: 400;
      font-size: 0.7292vw /* 14px -> .7292vw */;
      line-height: 1.1458vw /* 22px -> 1.1458vw */;
      color: $light-grey;
      margin-bottom: 1.3542vw /* 26px -> 1.3542vw */;
      @include truncate-lines(2);

      @include mobile-breakpoint {
        font-size: 14px;
        line-height: 22px;
        height: 45px;
        max-width: 253px;
        margin-bottom: 26px;
      }
    }
  }

  .bounty__meta {
    display: flex;
    justify-content: space-between;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 0.625vw /* 12px -> .625vw */;
      line-height: 0.9375vw /* 18px -> .9375vw */;
      color: white;

      @include mobile-breakpoint {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .bounty__meta__avatar {
      width: 1.1458vw /* 22px -> 1.1458vw */;
      height: 1.1458vw /* 22px -> 1.1458vw */;
      overflow: hidden;
      border-radius: 50%;
      background-color: $light-grey;
      @include mobile-breakpoint {
        width: 22px;
        height: 22px;
      }
    }
  }
}
