@import 'styles/variables';
@import 'styles/mixins';

.hero {
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75.0625rem /* 1153.0003px -> 72.0625rem */;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(9, 8, 15) 92%,
    rgb(11, 11, 19) 96%,
    #130e1f 100%
  );

  @include mobile-breakpoint {
    background: $home-background;
    font-size: 0.875rem /* 14px -> .875rem */;
    height: unset;
    background-size: contain;
    background-blend-mode: color-dodge;
  }

  section.hero__text {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10.25rem;
    padding-bottom: 11.3125rem /* 181.0003px -> 11.3125rem */;
    width: 100%;

    background-image: url('/images/landing/herobg.png'),
      linear-gradient(90deg, rgba(64, 50, 99, 1) 50%, rgba(0, 0, 0, 0) 100%);
    box-sizing: border-box;
    background-blend-mode: hard-light;
    background-size: 100vw;
    background-position-y: -5.625rem /* -90px -> -5.625rem */;

    @include mobile-breakpoint {
      background-repeat: no-repeat;
      padding-bottom: 68px;
      margin-bottom: 0;
      background-color: #110e1b;
      box-sizing: border-box;
      // background-position-y: 50px;
      background-image: url(/images/landing/helixes/heromobilebg3.png);
      background-size: contain;
      background-blend-mode: color-dodge;
      position: relative;

      &::before{
        width: 10.5rem;
        height: 10.5rem;
        border-radius: 50%;
        content: '';
        position: absolute;
        background-color: $neon-green;
        opacity: 0.4;
        top: 0;
        filter: blur(100px);
      }
    }

    @include xlarge-screen {
      background-position-y: center;
    }
    h2 {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 4.0625rem /* 64.9997px -> 4.0625rem */;
      line-height: 5.0626rem /* 81.001px -> 5.0626rem */;
      margin-bottom: 1.6876rem /* 27.001px -> 1.6876rem */;
      color: white;
      span {
        color: $neon-green;
      }
      @include mobile-breakpoint {
        max-width: 20rem /* 320px -> 20rem */;
        text-align: center;
        font-weight: 700;
        font-size: 1.875rem /* 30px -> 1.875rem */;
        line-height: 2.3125rem /* 37px -> 2.3125rem */;
        margin-bottom: 1.875rem /* 30px -> 1.875rem */;
      }
    }
    p {
      color: $light-grey;
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem /* 39.9994px -> 2.5rem */;
      line-height: 3.75rem /* 60px -> 3.75rem */;
      text-align: center;
      margin-bottom: 2.6875rem /* 43.0003px -> 2.6875rem */;
      @include mobile-breakpoint {
        font-weight: 400;
        font-size: 1.375rem /* 22px -> 1.375rem */;
        line-height: 2.0625rem /* 33px -> 2.0625rem */;
        text-align: center;
        max-width: 18.625rem /* 298px -> 18.625rem */;
        margin-bottom: 2.8125rem /* 45px -> 2.8125rem */;
      }
    }

    & > div {
      display: flex;
      gap: 2.3125rem /* 37.0003px -> 2.3125rem */;
      @include mobile-breakpoint {
        gap: 1.9375rem /* 31px -> 1.9375rem */;
        flex-direction: column;
      }

      button {
        @include filled-button;
        width: 12.5626rem /* 201.001px -> 12.5626rem */;
        height: 4.375rem /* 69.9994px -> 4.375rem */;
        border-radius: 1.25rem /* 20.0006px -> 1.25rem */;
        font-family: $primary-font-semibold;
        font-weight: 600;
        font-size: 1.25rem /* 20.0006px -> 1.25rem */;
        line-height: 1.875rem /* 30px -> 1.875rem */;
        /* identical to box height */
        transition: 0;
        color: black;
        @include mobile-breakpoint {
          width: 7.8125rem /* 125px -> 7.8125rem */;
          height: 2.5625rem /* 41px -> 2.5625rem */;
          font-weight: 600;
          font-size: 0.875rem /* 14px -> .875rem */;
          line-height: 1.3125rem /* 21px -> 1.3125rem */;
          border-radius: 0.625rem /* 10px -> .625rem */;
        }
      }

      & > div {
        display: flex;
        align-items: center;
        gap: 1.25rem /* 20px -> 1.25rem */;
        @include mobile-breakpoint {
          gap: 0.7113rem /* 11.38px -> .7113rem */;
        }

        .svg__wrapper {
          height: 3.75rem /* 60px -> 3.75rem */ /* 3.125vw -> 60px */
            /* 60px -> 3.125vw */;
          width: 3.75rem /* 60px -> 3.75rem */;
          @include mobile-breakpoint {
            width: 2.1344rem /* 34.15px -> 2.1344rem */;
            height: 2.1344rem /* 34.15px -> 2.1344rem */;
          }
        }

        span {
          font-size: 1.25rem /* 20.0006px -> 1.25rem */;
          line-height: 1.875rem /* 30px -> 1.875rem */;
          color: white;
          @include mobile-breakpoint {
            font-weight: 400;
            font-size: 0.7114rem /* 11.3821px -> .7114rem */;
            line-height: 1.0625rem /* 17px -> 1.0625rem */;
          }
        }
      }
    }
  }

  .latest__bounties__wrapper {
    width: 100%;
    background: linear-gradient(
      10deg,
      rgb(9, 8, 15) 77%,
      rgb(11, 11, 19) 83%,
      #131518 100%
    );

    @include mobile-breakpoint {
      background: $home-background;
    }
  }

  section.latest__bounties {
    max-width: 93.625rem /* 1497.9994px -> 93.625rem */;
    margin: auto;
    // background-color: #090811;
    @include mobile-breakpoint {
      max-width: unset;
      padding-bottom: 40px; //todo maybe later remove
    }
    .latest__bounties__text {
      margin-bottom: 4.2188vw /* 81px -> 4.2188vw */;
      @include mobile-breakpoint {
        margin: auto;
        margin-bottom: 46px;
        // width: 20rem;
        max-width: 43.6875rem;
      }
      h4 {
        font-weight: 400;
        font-size: 2.5rem /* 39.9994px -> 2.5rem */;
        line-height: 3.75rem /* 60px -> 3.75rem */;
        margin-bottom: 0.625rem /* 9.9994px -> .625rem */;
        color: white;
        @include mobile-breakpoint {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }
      p {
        font-weight: 400;
        font-size: 1.375rem /* 21.9994px -> 1.375rem */;
        line-height: 2.0626rem /* 33.001px -> 2.0626rem */;
        color: #898989;
        @include mobile-breakpoint {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .latest__bounties__container {
      display: flex;
      gap: 3.125rem /* 50.0006px -> 3.125rem */;
      margin-bottom: 2.375rem /* 38.0006px -> 2.375rem */;
      @include mobile-breakpoint {
        flex-direction: column;
        gap: 2.25rem /* 36px -> 2.25rem */;
        margin-bottom: 1.25rem /* 20px -> 1.25rem */;
        align-items: center;
      }
    }

    .latest__bounties__action {
      width: 15.5626rem /* 249.001px -> 15.5626rem */;
      height: 4.375rem /* 69.9994px -> 4.375rem */;
      border-radius: 1.25rem /* 20.0006px -> 1.25rem */;
      margin: auto;
      font-size: 1.25rem /* 20.0006px -> 1.25rem */;
      line-height: 1.875rem /* 30px -> 1.875rem */;
      @include hollow-button;
      @include mobile-breakpoint {
        width: 9.8125rem /* 157px -> 9.8125rem */;
        height: 2.5625rem /* 41px -> 2.5625rem */;
        border-radius: 0.625rem /* 10px -> .625rem */;
        font-size: 0.875rem /* 14px -> .875rem */;
        line-height: 1.3125rem /* 21px -> 1.3125rem */;
      }
    }
  }
}
