@import 'styles/variables';
@import 'styles/mixins';

.header__wrapper {
  //margin-top: 22.25rem;
  @include mobile-breakpoint {
    margin-top: 7.5625rem;
    overflow: hidden;
}

  .header {
      max-width: 93.625rem;
      margin: auto;
      display: flex;
      justify-content: space-between;
      @include mobile-breakpoint {
      flex-direction: column;
      gap: 4.3975rem;
      }

      .header__sec1 {
        .header__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.6rem;

            h1 {
                font-weight: 400;
                font-size: 2rem;
                line-height: 3rem;
                color: #FFFFFF;
            }

            div {
                align-self: center;

                .header__title__btn {
                    display: flex;
                    gap: 0.5rem;
                    
                    div {
                        position: relative;
                        width: 0.2rem;
                        height: 0.615rem;
                        object-fit: contain;
                        color: #FFFFFF;
                    }
                }
            }

            button {
              display: flex;
              align-items: center;
              align-self: center;
              padding: 0.313rem 1.875rem;
              background-color: #1E1C30;
              border: none;
              border-radius: 1.25rem;
              color: #FFFFFF;
              font-size: 1rem;
              line-height: 1.375rem;
            }
        }

        .header__description {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.688rem;
            color: #898989;
            @include mobile-breakpoint {
            max-width: 19.5625rem;
            font-size: .875rem;
            line-height: 1.3125rem;
            margin-bottom: 0;
            }

            span {
                color: #D4FF1E;
            }
        }
      }

      .header__sec2 {
        display: flex;

        .header__sec2__search {
            display: flex;

            form {
                display: flex;
                align-items: center;
                border-radius: 1.25rem;
                padding: 0rem 1.875rem;

                button {
                    width: 3rem;
                    height: 3.625rem;
                    padding: 0 1rem;
                    object-fit: contain;
                    background-color: #1E1C30;
                    border: #1E1C30;
                    border-radius: 0.625rem 0 0 0.625rem;

                    div {
                        position: relative;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        width: 1.163em;
                        height: 1.163rem;
                        object-fit: contain;
                        color: #FFFFFF;
                    }
                }

                .search__bar {
                    width: 24.625rem;
                    height: 3.625rem;
                    padding: 0;
                    background-color: #1E1C30;
                    border: none;
                    color: #FFFFFF;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    border-radius: 0 0.625rem 0.625rem 0;

                    &::placeholder {
                        color: #FFFFFF;
                    }
                }

                .search__bar:focus {
                    outline: none;
                }
            }
        }

        .header__sec2__filter {
            align-self: center;

            div {
                display: flex;
                align-items: center;
                margin: auto;
                position: relative;
                width: 3.813rem;
                height: 3.625rem;
                background-color: #1E1C30;
                border-radius: 0.625rem;

                div {
                    position: relative;
                    width: 1.313em;
                    height: 1.125rem;
                    color: #FFFFFF;
                }

                span {
                    content: "";
                    position: absolute;
                    top: -0.125rem;
                    right: -0.125rem;
                    width: 0.75rem;
                    height: 0.75rem;
                    background-color: #D4FF1E;
                    border-radius: 50%;
                }
            }
        }
      }
  }
}