@import 'styles/mixins';

.multipleimages__wrapper {
  display: flex;
  align-items: center;
  gap: 0.2083vw /* 4px -> .2083vw */;
  @include mobile-breakpoint {
    gap: 4px;
  }
  span {
    font-weight: 400;
    font-size: 0.625vw /* 12px -> .625vw */;
    color: white;
  }
  .multipleimages {
    display: flex;

    & > div {
      margin-left: -0.3125vw /* -6px -> -0.3125vw */;
      @include mobile-breakpoint {
        margin-left: -6px;
      }
    }
  }
}
