@import 'styles/variables';
@import 'styles/mixins';

.torchbearer__container {
  background-color: $home-background;
  background-image: url('/images/landing/helixes/torchbearerbg.png');
  background-blend-mode: color-dodge;
  position: relative;
  background-size: 100vw;

  &::after {
    position: absolute;
    width: 22.25rem /* 356px -> 22.25rem */;
    height: 22.25rem /* 356px -> 22.25rem */;
    background: white;
    opacity: 0.15;
    border-radius: 50%;
    object-fit: cover;
    filter: blur(100px);
    content: '';
    left: calc(50% - 11.125rem /* 178px -> 11.125rem */);
    top: 1.5625rem /* 25px -> 1.5625rem */;

    @include mobile-breakpoint {
      width: 170px;
      height: 170px;
      opacity: 0.4;
      left: calc(50% - 5.3125rem /* 85px -> 5.3125rem */);
      top: 120px;
    }
  }

  width: 100%;
  padding-top: 8.6875rem /* 139px -> 8.6875rem */;
  padding-bottom: 10.625rem /* 170px -> 10.625rem */;
  box-sizing: border-box;

  @include mobile-breakpoint {
    padding-top: 118px;
    padding-bottom: 0;
    background: $home-background;
  }

  .torchbearer__text {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem /* 15px -> .9375rem */;
    color: white;
    margin-bottom: 4.75rem /* 76px -> 4.75rem */;
    @include mobile-breakpoint {
      gap: 0.625rem; /* 10px -> .625rem */
      margin-bottom: 2.25rem /* 36px -> 2.25rem */;
    }
    h5 {
      font-family: $primary-font-regular;
      font-size: 1.375rem /* 22px -> 1.375rem */;
      line-height: 2.0625rem /* 33px -> 2.0625rem */;
      text-align: center;
      font-weight: 400;
      @include mobile-breakpoint {
        font-size: 1rem /* 16px -> 1rem */;
        line-height: 1.5rem /* 24px -> 1.5rem */;
      }
    }
    h1 {
      font-size: 3.375rem /* 54px -> 3.375rem */;
      line-height: 4.1875rem /* 67px -> 4.1875rem */;
      text-align: center;
      font-family: $secondary-font;
      font-weight: 700;
      @include mobile-breakpoint {
        font-size: 1.875rem /* 30px -> 1.875rem */;
        line-height: 2.3125rem /* 37px -> 2.3125rem */;
      }
    }
  }

  .torchbearer__details {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 5.0625rem /* 81px -> 5.0625rem */;

    @include mobile-breakpoint {
      flex-direction: column;
      gap: 3.125rem /* 50px -> 3.125rem */;
    }

    .torchbearer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .torchbearer__image {
        width: 18.1875rem /* 291px -> 18.1875rem */;
        height: 9.5625rem /* 153px -> 9.5625rem */;
        @include mobile-breakpoint {
          width: 13.9375rem /* 223px -> 13.9375rem */;
          height: 7.3125rem /* 117px -> 7.3125rem */;
        }
      }

      p {
        font-family: $primary-font-medium;
        color: white;
        font-weight: 500;
        font-size: 1.375rem /* 22px -> 1.375rem */;
        line-height: 2.0625rem /* 33px -> 2.0625rem */;

        @include mobile-breakpoint {
          font-size: 1rem /* 16px -> 1rem */;
          line-height: 1.5rem /* 24px -> 1.5rem */;
        }
      }

      span {
        color: $light-grey;
        font-weight: 400;
        font-size: 1rem /* 16px -> 1rem */;
        line-height: 1.875rem /* 30px -> 1.875rem */;
        font-family: $primary-font-regular;
        @include mobile-breakpoint {
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}
