// a file to override default styling of components
@import './variables';
@import 'styles/mixins';
@import 'styles/font';
@import './slickoverride';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  overflow-x: hidden;
  box-sizing: border-box;

  @media (min-width: $mobile-breakpoint) and (max-width: $max-breakpoint) {
    font-size: 0.8333vw /* 16px -> .8333vw */;
    // font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
