// define font names
$variable-name: variable-value;

// define the mobile responsiveness breakdown
$mobile-breakpoint: 800px;
$tab-breakpoint: 1200px;
// define the mobile responsiveness breakdown


// define the several functions which we use
$neon-green: #D4FF1E;
$dark-grey: #131313;
$light-grey: #131313;
$white: #131313;
// define the several functions which we use