// define font names
$variable-name: variable-value;

// define the mobile responsiveness breakdown
$mobile-breakpoint: 800px;
$tab-breakpoint: 1200px;
// define the mobile responsiveness breakdown


// define the several functions which we use
$neon-green: #D4FF1E;
$dark-grey: #131313;
$dark-blue: #292929;
$light-grey: #898989;
$white: #FFFFFF;
// define the several functions which we use

// define font names
$light-font: Poppins-Light;
$regular-font: Poppins-Regular;
$medium-font: Poppins-Medium;
$semibold-font: Poppins-SemiBold;
$bold-font: Poppins-Bold;
// define font names

// define secondary font
$secondary-font: "Cabinet Grotesk";

// transition speeds
$fast-transition-speed: 500ms;
// transition speeds